*{
    margin: 0;
    padding: 0;

}

body {
    min-height: 100vh;
    text-align: center;
}

.title {
    margin-top: 10px;
    padding: 5px;
    text-align: center;
    font-size: 80px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
   /*  text-shadow: 2px 2px 2px 2px  rgba(27, 27, 27, 0.726); */
}

.subtitle {
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 2px;

}

.line-division {
    width: 75%;
    height: 2px;
    background-color: black;
}

.text {
   font-size: 20px;
   font-style: italic;
   padding-top: 5px;
   margin-bottom: 10px;
   font-family: fantasy;

}

.carousel {
    min-height: 00%;
}

.carousel .carousel-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    user-select: none;
    width: 500px;
    height: 500px;
    border-radius: 20px;


}

.carousel .carousel-item img {
    width: 400px;
    height: 400px;
    border-radius: 20px;
    z-index: -1;
    object-fit: cover;
    position: absolute;
    top: 0;
}